.content-products_description-position{
	float: right;
    width: 357px;
    height: 410px;
    margin-right: 3%;
}

.content-products_description-main-font_settings{
    font-size: 2.4em;
    margin-top: 0px;
	font-weight: normal;
    line-height: 48px;
    margin-bottom: 1%
}

.content-products_description-rubric-font_settings{
	margin-top: 28px;
	font-size: 0.9em;
    line-height: 29px;
	color: #666;
}

.content-products_description-rubric .blue_color{
	color: #2ac4f3;
}

@media screen and (max-width: 480px) {
	.content-products_description-position{
    width: 450px;
    height: 410px;
    float: left;
    text-align: center;
    color: #2ac4f3;
}

.content-products_description-main-font_settings{
    font-size: 1.5em;
    margin-top: 0px;
	margin-bottom: 1%;
	margin-left: 20px;
    font-weight: normal;
    line-height: 30px;    
    float: left;  
}

.content-products_description-rubric{
	display: none;
}

}