.content__asked-questions_font-settings{
	text-align: center;
	padding-left: 95px;
}

.asked-questions__caption_font-settings{
	font-size: 2.4em;
	margin-top: 50px;
}

.asked-questions__item_position{
	float: left;
	width: 500px;
	padding-bottom: 25px;
}

.asked-questions__item_position:nth-child(2n){
	float: right;
	margin-right: 50px;
	border-left: 1px solid #ccc;
    padding-left: 45px;
}

.item__question_bold{
	font-weight: bold;
    color: #000;
    float: left;
    font-size: 1.13em;
    margin-top: 6px;	
}

.item__question-description_font-settings{
	color: #666;
    line-height: 1.9em;
    text-align: left;
    margin-top: 37px;
}

.asked-questions__button_settings{
	background-color: #fff;
    width: 18.6%;
    height: 57px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 2.7%;
    margin-bottom: 93px;
    margin-left: -22px;
}
