.content{
	width: 1263px;
	margin: 0 auto;
}

.content__caption_font-settings{
	text-transform: uppercase;
    color: #2ac4f3;
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-top: 3.1%;
    padding-left: 5.3%; 
}



.content__ice-cream-and-phones_position{
	display: block;
	width: 1023px;
	height: 646px;
    margin-left: 15.3%;
    margin-top: -1%;
	margin-bottom: 8.3%;
}



@media screen and (max-width: 480px) {

.content__caption_font-settings{
	display: block;
    width: 180px;
    text-transform: uppercase;
    color: #2ac4f3;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
	padding-left: 115px;
}


.content__ice-cream-and-phones_position{
    display: block;
    width: 290px;
    height: 180px;
    margin: 17px 78px;
}
}